<div class="game-card">
    <div class="game-container">
        <h2>{{gameCard.name}}</h2>
        <div class="imgContainer">
            <img [src]="gameCard.imageUrl" [alt]="gameCard.name">
        </div>
        <p>{{gameCard.price}}€</p>
    </div>
    <div class="button-container">
        <div *ngIf="!!gameCard.quantity">
            <button  (click)="onAddsave()">{{saleButtonText}}{{ gameCard.save ? ' ✅ ' : ' 🛒 ' }}</button>            
        </div>
        <p *ngIf="!gameCard.quantity">Hors Stock ❌</p>
    </div>
</div>


