body {
    background-image:url("../asset/helldivers-2-key-art-header.webp");
    background-attachment: fixed;
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center;
}

header {
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
    padding: 10px 0;
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
}

.navButton {
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

.navButton button {
    padding: 5px 15px;
    background-color: #ada313;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    font-size: large;
}

.navButton button:hover {
    background-color: #836e2b;
}

img {
    width: 64px;
    margin-left: 20px;
    margin-top: 10px;
}

main {
    margin-top: 80px; /* Compense la hauteur du header fixe */
}

.card-container-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 20px auto;
    margin-top: 100px; /* Ajuste le décalage supérieur pour éviter que les cartes ne chevauchent le header */
}

.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card {
    min-width: 200px;
    width: 200px; /* Définir une largeur fixe pour les cartes */
    height: 300px; /* Définir une hauteur fixe pour les cartes */
    margin: 10px;
    background-color: #e3e3e300;
    border-radius: 10px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-button {
    background-color: #191812;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
}